<body>
<div class="signup-container">
  <div class="logo-container">
    <h1>SIGN</h1>
    <h2>UP</h2>
  </div>

  <form [formGroup]="signupForm" class="signup-form-container">
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" required placeholder="Your name..">

    <label for="surname">Surname:</label>
    <input type="text" id="surname" formControlName="surname" required placeholder="Your surname..">

    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" required placeholder="Your e-mail..">

    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" required placeholder="Your chosen password..">

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" formControlName="confirmPassword" required placeholder="Repeat password..">

    <!-- Display validation messages -->
    <div *ngIf="signupForm.get('name')!.hasError('pattern') && signupForm.get('name')!.touched!">
      Name must contain only letters, numbers, and spaces.
    </div>

    <div *ngIf="signupForm.get('surname')!.hasError('pattern') && signupForm.get('surname')!.touched!">
      Surname must contain only letters, numbers, and spaces.
    </div>

    <div *ngIf="signupForm.get('email')!.hasError('pattern') && signupForm.get('email')!.touched!">
      Invalid email format.
    </div>

    <!-- Add (keyup.enter) event binding to trigger the signUp function -->
    <button type="button" (click)="signUp()" (keyup.enter)="signUp()" class="sign-button">Sign Up</button>

  </form>
</div>
<div class="login-link-container">
  Already registered? Log in here: <a routerLink="/login" class="login-button">Login</a>
</div>
</body>
