<link rel="stylesheet" href="diet-generator-input.component.scss">
<div class="form-container">
  <h1>DIET GENERATOR</h1>
  <form [formGroup]="dietForm" (ngSubmit)="onSubmit()">
    <label for="age">Enter your age:</label>
    <input id="age" type="number" formControlName="age" required min="14" max="100">

    <label for="weight">Enter your weight in kg:</label>
    <input id="weight" type="number" formControlName="weight" required min="30" max="300">

    <label for="height">Enter your height in cm:</label>
    <input id="height" type="number" formControlName="height" required min="50" max="250">

    <label>Enter your gender:</label>
    <div>
      <input type="radio" id="gender-f" name="gender" value="F" formControlName="gender" required>
      <label for="gender-f">Female</label>

      <input type="radio" id="gender-m" name="gender" value="M" formControlName="gender" required>
      <label for="gender-m">Male</label>
    </div>


    <label for="activity_level">Enter your activity level:</label>
    <select id="activity_level" formControlName="activity_level" required>
      <option value="sedentary">Sedentary</option>
      <option value="lightly_active">Lightly Active</option>
      <option value="moderately_active">Moderately Active</option>
      <option value="very_active">Very Active</option>
      <option value="extra_active">Extra Active</option>
    </select>


    <label>Choose your goal:</label>
    <div>
      <input type="radio" id="lose-weight" name="goal" value="1" formControlName="goal" required>
      <label for="lose-weight">Lose Weight</label>

      <input type="radio" id="gain-weight" name="goal" value="2" formControlName="goal" required>
      <label for="gain-weight">Gain Weight</label>

      <input type="radio" id="maintain" name="goal" value="3" formControlName="goal" required>
      <label for="maintain">Maintain</label>
    </div>


    <label for="num_meals">Select the number of meals per day:</label>
    <select id="num_meals" type="number" formControlName="num_meals" required>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>

    <button type="submit">Submit</button>
  </form>
</div>
