<div class="container">
<!--  Top Bar Menu -->
  <div class="top-bar">

    <!-- Categories Menu Item with Dropdown -->
    <div class="menu-item" (click)="toggleCategoriesDropdown()">
      <img src="assets/categories_icon.png" alt="Categories Icon" class="icon" />
      Categories
      <div class="categories-dropdown" *ngIf="showCategoriesDropdown">
        <div *ngFor="let category of categories" (click)="selectCategory(category)" class="category-item">
          {{ category.name }}
        </div>
      </div>
    </div>

    <!-- Display categories dynamically -->
    <ng-container *ngFor="let category of categories.slice(0, 3)">
      <div class="menu-item" (click)="selectCategory(category)">
        {{ category.name }}
      </div>
    </ng-container>

    <div class="search-bar">
      <img src="assets/lupa.png" alt="Lupa Icon" class="icon" />
      <input type="text" placeholder="Search..." [(ngModel)]="userInput" (input)="filterProducts()" />
    </div>

    <div class="menu-item basket">
      Basket
      <button class="basket-button" (click)="handleBasketButtonClick()">
        <img src="assets/basket_icon.png" alt="Basket Icon" class="button-icon" />
      </button>
    </div>

  </div>

  <!-- Display selected category -->
  <div class="category-header" *ngIf="selectedCategory">
    <h2>Category: {{ selectedCategory.name }}</h2>
    <button class="clear-filter-button" (click)="clearCategoryFilter()">
      <img src="assets/close_icon.png" alt="Close Icon" class="close-icon" />
    </button>
  </div>

  <!-- Products Cards -->
  <div class="product-container">
    <ng-container *ngIf="filteredProducts.length > 0; else allProducts">
      <div *ngFor="let product of filteredProducts" class="product-card">
        <div class="card-header">{{ product.name }}</div>
        <div class="card-body">
          <p>{{ product.description }}</p>
          <p>${{ product.price }}</p>
          <!-- Add more fields as needed -->
        </div>
      </div>
    </ng-container>

    <ng-template #allProducts>
      <div *ngFor="let product of products" class="product-card">
        <div class="card-header">{{ product.name }}</div>
        <div class="card-body">
          <p>{{ product.description }}</p>
          <p>${{ product.price }}</p>
        </div>
      </div>
    </ng-template>
  </div>

  <!-- Chatbot -->
  <div class="chatbox">
    <div class="chatbox__support" [ngClass]="{ 'chatbox--active': chatboxActive }">
      <div class="chatbox__header">
        <div class="chatbox__image--header">
          <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
        </div>
        <div class="chatbox__content--header">
          <h4 class="chatbox__heading--header">Chat support</h4>
          <p class="chatbox__description--header">Hi. My name is Sam. How can I help you?</p>
        </div>
      </div>
      <div class="chatbox__messages">
        <div *ngFor="let message of chatHistory" class="messages__item" [ngClass]="{'messages__item--visitor': message.name === 'User', 'messages__item--operator': message.name === 'Sam'}">
          {{ message.message }}
        </div>
      </div>
      <div class="chatbox__footer">
        <input [(ngModel)]="userInput" placeholder="Write a message..." />
        <button class="chatbox__send--footer send__button" (click)="sendMessage()">Send</button>
      </div>
    </div>
    <div class="chatbox__button">
      <button (click)="toggleChatbox()">Toggle Chat</button>
    </div>
  </div>
</div>
