<div class="user-management">
  <h2 style="margin-left:40px">Manage Users</h2>
  <div class="table-container">
    <h2>Listings</h2>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Password</th>
      <th>Role</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.surname }}</td>
      <td>{{ user.password }}</td>
      <td>{{ user.role }}</td>
      <td>{{ user.status }}</td>
      <td>
        <button (click)="updateUser(user)">Update</button>
        <button (click)="deleteUser(user.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  </div>
</div>
