.mat-toolbar {
  margin: 24px;
  margin-bottom: 10px;
  width: auto;
}

mat-form-field {
  padding: 5px;
}

mat-dialog-content {
  padding: 24px;
}

mat-dialog-actions {
  padding: 8px;
}

mat-dialog-actions button {
  margin-left: 8px;
}

/* Adjust the styles for the form field as needed */
mat-form-field {
  width: 100%;
  margin-top: 16px;
}

/* Additional styling for the send password and close buttons */
mat-dialog-actions button {
  min-width: 120px;
  border-radius: 50px;
}

mat-dialog-actions button[mat-raised-button][color="primary"] {
  background-color: #ff8c21;
  color: #ffffff;
}

mat-dialog-actions button[mat-raised-button][color="primary"]:hover {
  background-color: #444444;
  color: #ff8c21;
}

mat-dialog-actions button[mat-raised-button][color="warn"] {
  background-color: #ff8c21;
  color: #ffffff;
}

mat-dialog-actions button[mat-raised-button][color="warn"]:hover {
  background-color: #ffffff;
  color: #444444;
}
