<section class="diet-generator-container">
    <h1>Unlock a Healthier You with Personalized Diet Planning!</h1>
    <p>Are you ready to embark on a journey to a healthier and more energized lifestyle? Our personalized diet planner is here to guide you every step of the way!</p>

    <div class="how-it-works">
        <h2>How it Works:</h2>
        <ol>
            <li><strong>Input Your Details:</strong> Start by filling in essential details such as your age, weight, height, gender, activity level, and dietary goal. The more accurate your information, the more tailored your diet plan will be.</li>
            <li><strong>Click Submit:</strong> Once you've entered your details, simply hit the submit button. Our intelligent algorithm will process your information, considering factors like Body Mass Index (BMI) and daily calorie needs.</li>
            <li><strong>Receive Your Personalized Diet Plan:</strong> Voila! Your personalized diet planner is ready. Discover your BMI, total daily calorie needs, and a curated list of meal suggestions based on your goal.</li>
            <li><strong>Explore Best Meal Combinations:</strong> Dive into a variety of meal combinations designed to meet your nutritional requirements. From breakfast to dinner, each suggestion is carefully crafted to make your journey enjoyable and sustainable.</li>
        </ol>
    </div>

    <div class="why-choose">
        <h2>Why Choose Our Diet Planner:</h2>
        <ul>
            <li><strong>Tailored to You:</strong> No one-size-fits-all approach. Our planner considers your unique profile to provide a diet plan that suits your lifestyle and goals.</li>
            <li><strong>Scientifically Backed:</strong> Backed by scientific principles, our algorithm ensures that your diet plan aligns with your health objectives.</li>
            <li><strong>Variety of Options:</strong> Enjoy a diverse selection of meal options, making healthy eating exciting and delicious.</li>
            <li><strong>Real-Time Results:</strong> Receive instant insights into your BMI, total daily calorie needs, and best meal combinations.</li>
        </ul>
    </div>

    <div class="start-journey">
        <button routerLink="/diet-generator-input">Get Started</button>
    </div>
</section>
