<body>
<div class="login-container">
    <div class="logo-container">
        <h1>LOG</h1>
        <h2>IN</h2>
    </div>
    <form [formGroup]="loginForm" class="login-form-container">
        <div class="col-25">
            <label for="email">Email:</label>
        </div>
        <div class="col-75">
            <input type="email" id="email" formControlName="email" required placeholder="Your e-mail..">
        </div>
        <div class="col-75">
            <label for="password">Password:</label>
        </div>
        <div class="col-25">
            <input type="password" id="password" formControlName="password" required placeholder="Your password..">
        </div>
        <button type="button" (click)="login()" class="login-button">Log In</button>
    </form>
</div>
<div class="signup-link-container">
    Don’t have an account? Register here: <a routerLink="/signup" class="signup-button">Sign up</a>
</div>
<div class="forgot-password-link-container">
    Forgot Your password? Click here: <a  (click)="handleForgotPasswordAction()" class="forgot-button">Forgot password</a>
</div>
</body>
