.spacer {
  flex: 1 1 auto
}

.business-management-icon{
  font-size: large;
}
.mat-toolbar.mat-primary {
  background: white;
  color: black;
}

.mat-toolbar {
  .menu-item-first-nav{
    margin-left: 50px;
  }

  .menu-item-second-nav {
    margin-left: 50px;
  }
}
