<mat-toolbar class="mat-elevation-z3">

  <a mat-button routerLink="home" class="business-management-icon">BUSINESS MANAGEMENT</a>

  <div class="spacer"></div>

  <a mat-button class="menu-item-first-nav" routerLink="diet-generator">GENERATE YOUR OWN DIET WITH AI</a>

  <div class="user-menu">
    <div class="person-icon-container">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
      </button>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="!isLoggedIn" routerLink="login">Login</button>
      <button mat-menu-item *ngIf="!isLoggedIn" routerLink="signup">Sign Up</button>
      <button mat-menu-item *ngIf="isLoggedIn" routerLink="my-account">My Account</button>
      <button mat-menu-item *ngIf="isLoggedIn" (click)="logout()">Logout</button>
      <button mat-menu-item *ngIf="isLoggedIn" (click)="handleChangePasswordAction()">Change Password</button>
    </mat-menu>
  </div>

</mat-toolbar>

