.filters, .add-new-product, .table-container {
  padding: 20px;
  background-color: #F0EFEF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Rounded corners */
  margin: 20px;
}

/* Filters */
.filters h2 {
  margin-bottom: 10px;
}

.filter-by {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filter-by label {
  margin-right: 10px;
}

.filter-by button {
  margin-left: 20px;
  background-color: #FF8C21;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.filter-by input, textarea{
  border: none;
  border-radius: 5px;
  margin-right: 5px; /* Adjust margin between input and button */
  max-width: 350px; /* Limit max width */
  transition: max-width 0.2s ease; /* Smooth transition */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-by button:hover {
  background-color: #444444;
  color: #ffffff;
}

.reset-filters {
  margin-top: 10px;
}

.reset-filters button {
  background-color: #FF8C21;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.reset-filters button:hover {
  background-color: #444444;
  color: #ffffff;
}

/* Add New Product */

.add-new-product form {
  display: flex;
  flex-direction: column;
}
.add-new-product input{
  margin-top: 10px;
  border: none;
  padding: 8px;
  border-radius: 5px;
  margin-right: 5px; /* Adjust margin between input and button */
  max-width: 350px; /* Limit max width */
  transition: max-width 0.2s ease; /* Smooth transition */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-new-product button {
  background-color: #FF8C21;
  margin-top: 20px;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  max-width: 100px; /* Limit max width */
  cursor: pointer; /* Add pointer cursor on hover */
  transition: max-width 0.2s ease, background-color 0.2s ease; /* Smooth transition */
}

.add-new-product button:hover {
  background-color: #444444;
  color: #ffffff;
}

//TABLE  DESIGN

.table-container table {
  width: 100%;
}

.table-container th, .table-container td {
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-container th {
  background-color: #F0EFEF;
}

.table-container td {
  background-color: #ffffff;
}

.table-container button {
  background-color: #FF8C21;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  margin-right: 8px; /* Add margin between buttons */
}

.table-container button:last-child {
  margin-right: 0; /* Remove margin for the last button */
}

.table-container button:hover {
  background-color: #444444;
  color: #ffffff;
}
