<body>
<mat-card>
    <b><span>Dashboard</span></b>
</mat-card>
<br>
<div class="row">
    <div class="column">
        <div class="card">
            <div class="container">
                <h2 class="title">Total Categories:</h2>
                <h1 class="title">{{data?.category}}</h1>
                <p><button class="button" [routerLink]="['/businessmanagement/category']">View Categories</button></p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="container">
                <h2 class="title">Total Products:</h2>
                <h1 class="title">{{data?.product}}</h1>
                <p><button class="button" [routerLink]="['/businessmanagement/product']">View Products</button></p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="container">
                <h2 class="title">Total Users:</h2>
                <h1 class="title">{{data?.user}}</h1>
                <p><button class="button" [routerLink]="['/businessmanagement/user']">View Users</button></p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="container">
                <h2 class="title">Total Bills:</h2>
                <h1 class="title">{{data?.bill}}</h1>
                <p><button class="button" [routerLink]="['/businessmanagement/bill']">View Bills</button></p>
            </div>
        </div>
    </div>
</div>
</body>
