<div class="dashboard">

  <!-- Left-side menu with only names -->
  <div class="left-menu">
    <ul>
      <li [class.active]="activeRoute === 'dashboard'"><a routerLink="/dashboard">Dashboard</a></li>
      <li [class.active]="activeRoute === 'category'"><a routerLink="/dashboard/category">Categories</a></li>
      <li [class.active]="activeRoute === 'product'"><a routerLink="/dashboard/product">Products</a></li>
      <li [class.active]="activeRoute.includes('cart')"><a routerLink="/dashboard/cart">Manage Orders</a></li>
      <li [class.active]="activeRoute === 'user'"><a routerLink="/dashboard/user">Users</a></li>
      <li [class.active]="activeRoute === 'bills'"><a routerLink="/dashboard/bills">View Bills</a></li>
    </ul>
  </div>

  <!-- Main content including the router outlet -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
